body{
	background-color: black;
}
/*navbar*/
.navbar-toggler{
    color: rgba(149, 24, 24, .8);
}


/*movie cards*/
.overlay {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    position: absolute;
    height: 100%;
    background-color: rgba(149, 24, 24, .8);
    opacity: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .2s;
    font-family: 'Poppins', sans-serif;
    
}
.overlay:hover {
    opacity: 1;
    transition: .4s;
}

.overlay h5,.overlay p{
    margin-top: 60px;
}
.overlay h2{
    margin-top: 150px;
}
.titles{
    color:rgba(149, 24, 24, .8);
    
}
.titles h3{
    text-align: center;
}
.titles h3:hover{
    color: white;
}
.card{
    background-color: black;
}
.card:hover{
    cursor: pointer;
}
#printInfo .card, #printDirector .card, #printBook .card, #printSearch .card{
    margin: 10px;
}
.flex-center {
    display: flex;
    justify-content: center;
}



.page-footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(149, 24, 24, .8);
    color: white;
    text-align: center;
  }
  
.nav-link{
    margin-right:80px;
    margin-left:70px;
}
nav.navbar {
    background-color:black;
    margin-top:30px;
    margin-bottom:30px;
}
.navbar-light .navbar-nav .nav-link {
    color:red;
    }
 
 .form-inline input {
    color: #2b303b;
    border-color: black;
 }
 .nav-link{
     color:rgba(149, 24, 24, .8);
     font-size:20px;
 }
 .nav-link:hover{
    color: white;
 }
 .form-control {
     background-color: #2b303b;
     height:30px;
 }
 