
body{
	background-color: black;
}

.overlay {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    position: absolute;
    height: 100%;
    background-color: rgba(149, 24, 24, .8);
    opacity: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .2s;
    font-family: 'Poppins', sans-serif;
    
}
.overlay:hover {
    opacity: 1;
    transition: .4s;
}
.overlay p{
	margin-top: 60px;
}
/*movie cards*/
#printInfo .card{
    margin: 10px;
    font-family: 'Poppins', sans-serif;

}
#printInfo .card:hover{
	cursor: pointer;

}
.overlay h1{
	margin-top:150px;
}
.card{
 margin-left:30px;
}
.card button {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.page-footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  
.nav-link{
    margin-right:30px;
    margin-left:100px;
}

nav.navbar {
    background-color:black;
    margin-top:35px;
    margin-bottom:30px;
}
.nav-link:hover{
color:#dbdbdb;
}
.navbar-light .navbar-nav .nav-link {
    color:red;
    }
 
 .form-inline input {
color: #2b303b;
text-align: center;
 }
 .nav-link{
     color:rgba(214, 8, 8, 0.931);
     font-size:28px;
     
 }
 .form-control {
     background-color: #2b303b;
     height:36px;
    
 }
 